<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class ='pane'>
		<h1>{{institute.name}}</h1>
        <a href="{{ url_for('showLogin') }}"> Login </a>
        </br>

		    {% with messages = get_flashed_messages() %}
                {% if messages %}

                <ul>
                    {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% if items !=[] %}


                </br>
                </br>

	            <h2>Courses</h2>

		        {% for i in courses %}
		            <p class="name">{{i.name}}</p>
		            <p class="description">{{i.description}}</p>


                    </br>
                    </br>

                {% endfor %}
            {% else %}
		        <p> This institute has no courses available. <p>
		        <a href = "{{url_for('newCourse', inst_id = institute.id )}}">Create New Course</a>
            {% endif %}
        </div>
	</body>

</html>
